@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial;
}

.container {
    @apply bg-blue-300 h-[auto] mx-auto p-4;
}

.input_style {
    @apply mt-[0.5rem] p-[0.2rem] focus:outline-none border-b-[0.1rem] transition duration-500 focus:border-b-blue-500;
}

.label_style {
    @apply mt-[1rem] text-[1.2rem];
}

.div_style {
    @apply flex flex-col flex-wrap bg-white w-[90%] m-auto rounded-xl p-[1rem] min-h-[98vh] h-auto lg:w-[65%] 2xl:w-[50%];
}

.h2_style {
    @apply text-[2rem] mt-[1rem] text-center;
}

.button_style {
    @apply bg-blue-500 text-white p-2  mt-[1rem] rounded-xl text-[1.4rem] text-center;
}

.button_white_style {
    @apply p-2  mt-[1rem] rounded-xl text-[1.4rem] text-center  bg-blue-200 text-black;
}

.th_style {
    @apply text-[1.4rem]
}

.td_style {
    @apply text-[1.2rem]
}
